.ly-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.box {
    padding: 100px;
    background: #ccc;
    
    margin-top: 80px;
}
img {
    width: 100%;
}
.media {
    width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &-text {
        width: 400px;
    }
    .img-wrap {
        overflow: hidden;
        animation: fluidrotate 40s ease 0s infinite;
        position: relative;
        width: 500px;
        height: 300px;
        img {
            width: 500px;
            height: 300px;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
@keyframes fluidrotate {  
    
    0%, 100% {
        border-radius: 41% 59% 11% 89% / 59% 16% 84% 41%;
    }
    10% {
        border-radius: 41% 59% 43% 57% / 59% 47% 53% 41%;
    }
    20% {
        border-radius: 41% 59% 76% 24% / 23% 47% 53% 77%;
    }
    30% {
        border-radius: 34% 66% 91% 9% / 35% 46% 54% 65%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
        
    }